@value variables: "../../../assets/css/variables.css";
@value --headerHeight, --black from variables;

.header {
  box-sizing: border-box;
  height: --headerHeight;
  background: --black;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

@supports(padding: min(20px)) {
  .header {
      padding-top: min(35px, env(safe-area-inset-top));
  }
}

.logo {
  font-size: 40px;
  margin-bottom: 5px;
}

.logoImg {
  width: 42px;
  position: relative;
  top: 4px;
}
