[Unit]
Description=shitty DJ application service
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
User=pi
EnvironmentFile=/home/pi/.env
ExecStart=/home/pi/jukejoint/jukejoint_streamer/src/server.ts
Restart=always
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
