.font400 {font-weight: 400;}
.font700 {font-weight: 700;}

.pointer {cursor: pointer;}

.textCenter {text-align: center;}

.fullHeight {height: 100%;}
.positionRelative {position: relative;}
.maxWidth1000 {max-width: 1000px;}
.margin0auto {margin: 0 auto;}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.floatLeft {float: left;}
.floatRight {float: right;}
