@value variables: "./variables.css";
@value --gray, --headerHeight, --footerHeight from variables;

.font400 {font-weight: 400;}
.font700 {font-weight: 700;}

.pointer {cursor: pointer;}

.textCenter {text-align: center;}

.fullHeight {height: 100%;}
.positionRelative {position: relative;}
.appWrapper {max-width: 800px;}
.margin0auto {margin: 0 auto;}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.floatLeft {float: left;}
.floatRight {float: right;}

.wrapper {
  height: calc(100% - 120px);
  position: relative;
  top: 60px;
  overflow: auto;
  padding: 15px 15px 10px;
  box-sizing: border-box;
}
