@value variables: "../../../../assets/css/variables.css";
@value --fontColor, --black from variables;
.inputBtn {
    border-radius: 3px;
    border: 1px solid --fontColor;
    box-sizing: border-box;
    font-size: 14px;
    height: 35px;
    outline: 0;
    padding: 0 10px;
    width: calc(100% - 130px);
    -webkit-appearance: none;
}

.btn {
    background: --fontColor;
    color: --black;
    width: 120px !important;
    float: right;
}

.hr {
    border-bottom: 1px solid --fontColor;
    height: 1px;
    margin: 20px 0 10px;
    width: 100%;
}

.h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
    color: --fontColor;
}
