@value variables: "../../../../assets/css/variables.css";
@value --fontColor from variables;
.li {
    border-left: 1px solid --fontColor;
    border-top: 1px solid --fontColor;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 13px;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.li:first-of-type {
    border-top-left-radius: 3px;
}

.li:last-of-type {
    border-right: 1px solid --fontColor;
    border-top-right-radius: 3px;
}

.active {
    font-weight: 700;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
